/* -------------------------------------
 * Fonts
 * ------------------------------------- */
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Rubik", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 18px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-blue: #4569F7;
$brand-blue-light: #B8F1FF;
$brand-blue-opacity: rgba(118, 228, 253, .8);


$red: #FC5252;
$red-light: #FE8989;

$purple: #3F569D;

$blue: #74CEFF;
$blue-light: #ADE9FF;
$green: #00BD9C;
$yellow: #F5A623;
$yellow-light: #FBD248;

$turquoise: #27E1DC;
$turquoise-light: #88F3E3;
$turquoise-dark: #8BDBC9;

$gray: #F4F7FB;
$gray-circle: #afafaf;

$grayform: #F0F0F0;

$graytext: #7E7E7E;
$gray-concrete: #D0D0D0;


/* -------------------------------------
 * Bootstrap sass variable
 * (see http://getbootstrap.com/customize/#less-variables)
 * ------------------------------------- */

// General style
$font-family-sans-serif:  $base-font;
$body-bg:                 $gray;
$font-size-base:          $base-size;
$line-height-base:        $base-height;
$headings-font-family:    $header-font;

// Semantic color scheme
// => http://getbootstrap.com/customize/#colors
$gray-base:       $gray;
$brand-primary:   $blue;
$brand-success:   $green;
$brand-info:      $yellow-light;
$brand-danger:    $red;
$brand-warning:   $yellow;

// Buttons / inputs radius
$border-radius-base:  2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

// Form
$input-border-focus: $green;
$link-hover-color : inherit;
$link-hover-decoration : inherit;


// $alert-danger-bg : $brand-color;

