#job {}

.job-list {
  padding-top: 100px;
}

.job-link {
  text-decoration: none;
  color: RGBA(49, 49, 49, 1.00);

  &:hover {
    text-decoration: none;
    color: RGBA(49, 49, 49, 1.00);

    .job-card {
      background-color: RGBA(239, 243, 249, 1.00);
      transition: ease .2s;
    }
  }
}
