<%= render 'shared/navbar' %>

<div class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Digital Graphic Designer
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
