<div id="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="row pl20">
        <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 mb50">
          <a href="#banner" class="iggrow-logo">
            <%= image_tag("productile-logo.png", class: "productile-logo-small") %>
          </a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">PRODUCTS</li>
            <li><a href="#pictures-grid" id="hp-footer-discover">Discover</a></li>
            <li><a href="#what" id="hp-footer-what">What we do</a></li>
            <li><a href="#how" id="hp-footer-how">How it works</a></li>
            <li><a href="#pricing" id="hp-footer-pricing">Pricing</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">COMPANY</li>
            <li><a href="/faq" id="hp-footer-faq">FAQ</a></li>
            <li><a href="/terms" id="hp-footer-terms">Terms and conditions</a></li>
            <li><a href="/jobs" id="hp-footer-jobs">Jobs at Productile</a></li>
            <li><a href="/contact" id="hp-footer-contact">Contact us</a></li>
            <li><a href="/about" id="hp-footer-about">About us</a></li>
            <li><a href="/blog" id="hp-footer-blog">Blog</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li class="footer-list-title">FOLLOW US</li>
            <li>
              <a href="https://www.instagram.com/productile.xyz/" target="_blank" id="hp-footer-facebook">
                <i class="fab fa-instagram" aria-hidden="true"></i>
                &nbsp; Instagram
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/productile.xyz" target="_blank" id="hp-footer-instagram">
                <i class="fab fa-facebook-square" aria-hidden="true"></i>
                &nbsp; Facebook
              </a>
            </li>
          </ul>
        </div> <!-- End .col-xs-12 .col-sm-12 .col-md-3 .col-lg-3 -->
      </div> <!-- End .row -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="text-center">
            <div class="made-with-love">
              &copy; 2018 Productile -
              Made with <%= image_tag("emoji-heart.png", class: "emoji") %>
              in Belgium <%= image_tag("emoji-flag.png", class: "emoji") %>
            </div> <!-- End made-with-love -->
          </div> <!-- End .vcenter -->
        </div>
      </div>
    </div> <!-- End .container -->
  </div> <!-- End .footer-bottom -->
</div>
