<!-- Navbar -->
<div class="navbar-recovr hidden-sm hidden-xs">
  <a href="#banner" class="logo">
    <%= image_tag("productile-logo.png", class: "productile-logo") %>
  </a>
  <div class="nav-container">
    <div class="nav-element">
      <a href="#discover">
        Discover
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="#how">
        How
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="#pricing">
        Pricing
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="#contact">
        Contact
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a class="primary-btn" href="#pricing">Get Started</a>
    </div> <!-- End .nav-element -->
  </div>
</div>

<div class="navbar-recovr-mobile hidden-md hidden-lg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">

      </div>
    </div>
  </div>
</div>
