<div class="banner" id="banner">
  <div class="banner-tagline">
    Your Instagram content creator.
    <br>
    Work smater, not harder.
  </div>

  <div class="banner-desc">
    Get the right content for your audience. Curated and strategic posts <br>
    that will elevate and expand your social media presence. Create <br>
    top-notch content that is relevant, timely and useful.
    <br>
    <br>
    <!-- <strong>Starts at $159/month.</strong> -->
  </div>
</div>
