<div class="banner" id="banner">
  <div class="banner-tagline-primary mb50">
    Unlimited <mark class="mark-banner">Instagram content creation</mark>
    <br>subscription for brands for just
    <br class="hidden-xs">$499/mo 📷
  </div>

  <a href="/plan" class="ternary-btn medium-btn">Subscribe Now</a>
</div>
