<div class="banner" id="banner">
  <div class="banner-tagline">
    Instagram content creation
    <br>
    On-demand
  </div>

  <div class="banner-desc">
    Content creation services for startups, agencies, and freelancers.
    <br>
    <strong>Starts at $99/month.</strong>
  </div>
</div>
