<div class="banner" id="banner">
  <div class="banner-tagline">
    Content creation on-demand
    <br>
    dedicated to Instagram
  </div>

  <div class="banner-desc">
    Content creation services for startups, agencies, and freelancers.
    <br>
    From $159/month.
  </div>
</div>
