<div id="introduction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="introduction-title">Focus on what matter the most.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="introduction-desc">
          Your <strong>customers</strong> is your main concern. <strong>Spend less time</strong>
          creating the <strong>best content</strong> for them,
          <br>
          our mission is to help you on this. With the <strong>best Instagram practices</strong>, we create the
          <br> perfect content that fit your needs.
        </p>
      </div>
    </div>
  </div>
</div>
