<div id="pictures-grid">
  <div class="grid-one">
    <!-- item-a -->
    <div class="item-a pictures-card">
      <h4>Branded</h4>
      <h3>
        Custom pictures
        <br>
        and stories
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-b -->
    <div class="item-b pictures-card">
      <h4>Filter</h4>
      <h3>
        Personalized
        <br>
        Instagram filter
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-c -->
    <div class="item-c pictures-card">
      <h4>Grid</h4>
      <h3>
        Grid composition
        <br>
        for your feed
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-d -->
    <div class="item-d pictures-card">
      <h4>Quote</h4>
      <h3>
        Motivational
        <br>
        Quotes
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-e -->
    <div class="item-e pictures-card">
      <h4>Panorama</h4>
      <h3>
        Panoramic
        <br>
        Caroussel
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-f -->
    <div class="item-f pictures-card">
      <h4>Video</h4>
      <h3>
        Video format
        <br>
        for stories
      </h3>
      <a class="start-now" href="#pricing">Coming Soon</a>
    </div>
  </div>
</div>
