<div id="pictures-grid">
  <div class="pictures-card pictures-card-vertical pictures-card-yellow">
    <h4>Food</h4>
    <h3>
      One Month
      <br>
      Of Sugar Detox
    </h3>
    <a class="start-now" href="#pricing">Start Now</a>
  </div>
</div>
