<div id="pictures-grid">
  <div class="grid-one">
    <!-- item-a -->
    <div class="item-a pictures-card">
      <h4>Food</h4>
      <h3>
        One Month
        <br>
        Of Sugar Detox
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-b -->
    <div class="item-b pictures-card">
      <h4>Food</h4>
      <h3>
        One Month
        <br>
        Of Sugar Detox
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-c -->
    <div class="item-c pictures-card">
      <h4>Food</h4>
      <h3>
        One Month
        <br>
        Of Sugar Detox
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-d -->
    <div class="item-d pictures-card">
      <h4>Food</h4>
      <h3>
        One Month
        <br>
        Of Sugar Detox
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-e -->
    <div class="item-e pictures-card">
      <h4>Food</h4>
      <h3>
        One Month
        <br>
        Of Sugar Detox
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>

    <!-- item-f -->
    <div class="item-f pictures-card">
      <h4>Food</h4>
      <h3>
        One Month
        <br>
        Of Sugar Detox
      </h3>
      <a class="start-now" href="#pricing">Start Now</a>
    </div>
  </div>
</div>
