<div id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="pricing-card">
          <div class="pricing-card-header">
            STARTER
          </div>
          <div class="pricing-card-content">
            <div class="price">
              <span class="dollar-sign">$</span> 99
            </div>
            <div class="feature-list">
              <ul>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Posts - <strong>2 a day</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Stories - <strong>1 a day</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Providing Hashtags
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  We post for you
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  Instagram Growth
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-card-footer">
            <a href="/basicplan" class="pricing-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="pricing-card">
          <div class="pricing-card-header">
            PROFESSIONAL
          </div>
          <div class="pricing-card-content">
            <div class="price">
              <span class="dollar-sign">$</span> 199
            </div>
            <div class="feature-list">
              <ul>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Posts - <strong>5 a day</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Stories - <strong>3 a day</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Providing Hashtags
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  We post for you
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  Instagram Growth
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-card-footer">
            <a href="/basicplan" class="pricing-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="pricing-card">
          <div class="pricing-card-header">
            UNLIMITED
          </div>
          <div class="pricing-card-content">
            <div class="price">
              <span class="dollar-sign">$</span> 399
            </div>
            <div class="feature-list">
              <ul>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Posts - <strong>UNLIMITED</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Stories - <strong>UNLIMITED</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Providing Hashtags
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  We post for you
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Instagram Growth
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-card-footer">
            <a href="/basicplan" class="pricing-btn">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
