<%= render 'shared/navbar' %>

<div id="about" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      About Productile
    </div>
  </div>

  <div class="under-construction">
    <h1>Under Construction</h1>
    <h3>This section is coming really soon!</h3>
  </div>
</div>

<%= render 'shared/footer' %>
