<%= render 'shared/navbar' %>
<div id="contact-page" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Any Questions? Contact us.
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
