<%= render 'shared/navbar' %>

<div id="contact-page" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Any Questions? Contact us.
    </div>
  </div>

  <div id="contact-page">
    <form class="contact-form" method="POST" action="https://formspree.io/bastien@productile.co">
      <input class="form-input" type="email" name="email" placeholder="Your email">
      <textarea class="form-input mt30" name="message" placeholder="Your message"></textarea>
      <button class="primary-btn form-btn" type="submit">Send</button>
    </form>
  </div>
</div>

<%= render 'shared/footer' %>
