<%= render 'shared/navbar' %>

<div id="faq" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Frequently Asked Questions
    </div>
  </div>

  <div id="faq">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="accordion" class="faq-questions">
          <!-- Question 1 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  Why do I need your services?
                </button>
              </h5>
            </div>
            <!-- Answer 1 -->
            <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Our services are made to help you winning on Instagram. We want to help you reach your customers through your account. We create reliable and strong community around your business.

                It's a complete service that will manage your Instagram and save you time to focus on what matter most. Your customers.
              </div>
            </div>
          </div>

          <!-- Question 2 -->
          <div class="card question">
            <div class="card-header question-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  What is exactly a managed post?
                </button>
              </h5>
            </div>
            <!-- Answer 2 -->
            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body faq-answer">
                A managed post is the result of our creative team, who will edit and curate your gallery into one cohesive style. Your profile will have a strong point of view with a clean and cool aesthetic. Each month you will receive your posting shots in the tone of your branded identity.
              </div>
            </div>
          </div>

          <!-- Question 3 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  What is managed story?
                </button>
              </h5>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                We create engaging stories for you. Based on the latest trends on Instagram and to be in the race with your direct competitors.
              </div>
            </div>
          </div>

          <!-- Question 4 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  What kind of hashtags do you provide?
                </button>
              </h5>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                In order to fit the content we create, we provide a bunch of trending hashtags to generate traffic around your content. Using the right hashtags are really important to create the engagment you want.
              </div>
            </div>
          </div>

          <!-- Question 5 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  Do you post for me?
                </button>
              </h5>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                To help you saving more and more time you can chose to let us post for you at the right time based on your geographical location. We also analyse your analytics and manage to post at your peak time.
              </div>
            </div>
          </div>

          <!-- Question 6 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  You post for me?
                </button>
              </h5>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                We have a in-house team that will take in charge to post your content with the caption you provide for you.
                We analyse when is the perfect time to post to get the best engagement with your community.
              </div>
            </div>
          </div>

          <!-- Question 7 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  What kind of Digital Strategies do you provide?
                </button>
              </h5>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Together we elaborate the perfect strategy to reach a maximum of users.
              </div>
            </div>
          </div>

          <!-- Question 8 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  What is “Unlimited Support”?
                </button>
              </h5>
            </div>
            <div id="collapse8" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                With Unlimited Support you get a special treatment. We will give you personal access to a live chat to ask us what you want at anytime.
              </div>
            </div>
          </div>

          <!-- Question 9 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  What is the process when I have paid?
                </button>
              </h5>
            </div>
            <div id="collapse9" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Once you subscribed you will receive an email with various questions to help you brief us. We will assist you throughout the whole process & get back to you if we have more questions.
              </div>
            </div>
          </div>

          <!-- Question 10 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                  How can I contact you to send my questions?
                </button>
              </h5>
            </div>
            <div id="collapse10" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Feel free to send us an email at contact@productile.xyz - we will reply within 24 hours.
              </div>
            </div>
          </div>

          <!-- Question 12 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                  Do you have a refund policy?
                </button>
              </h5>
            </div>
            <div id="collapse11" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Yes. You have 10 days to notify us. 100% money back guarantee, no questions asked.
              </div>
            </div>
          </div>

          <!-- Question 12 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                  How long does it take to see the results?
                </button>
              </h5>
            </div>
            <div id="collapse12" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Once the strategy is applied to your account you will see more interactions and traffic on your accoutn within 3 to 4 days.
              </div>
            </div>
          </div>

          <!-- Question 13 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                  Do you need to access to my Instagram Account?
                </button>
              </h5>
            </div>
            <div id="collapse13" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Only if you choose the latest plan.
                In order to post to your Instagram account we need to access your account. But don't worry we won't acces your private informations.
              </div>
            </div>
          </div>

          <!-- Question 14 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                  What is the caption suggestion?
                </button>
              </h5>
            </div>
            <div id="collapse14" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                A good Instagram post needs a good description. Writing the good caption can lead to more traffic to your website. At Productile, we know the lastest instagram trends, we can help you on this.
              </div>
            </div>
          </div>

          <!-- Question 15 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                  I need to call you, can we arrange a call together?
                </button>
              </h5>
            </div>
            <div id="collapse15" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Yes sure, send us an email to schedule a call with us.
              </div>
            </div>
          </div>

          <!-- Question 16 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                  What is Instagram Growth?
                </button>
              </h5>
            </div>
            <div id="collapse16" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                We don't just create good content for your account, we can also managed to grow your account faster than ever. Only with organic and targeted followers, thats where we are good at. We can bring you up to +1.000 new followers each month.
              </div>
            </div>
          </div>

          <!-- Question 21 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                  How will you communicate with me?
                </button>
              </h5>
            </div>
            <div id="collapse21" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                We communicate with you by email. But if needed we can schedule a call, or a live chat.
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>
