<%= render 'shared/navbar' %>

<div id="faq" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Frequently Asked Questions
    </div>
  </div>


  <div class="questions-list">
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
    <div class="qa-card">
      <div class="question">Premiere question de la FAQ</div>
      <div class="answer"></div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
