<%= render 'shared/navbar' %>
<div id="jobs" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Jobs at Productile
    </div>
  </div>

  <h2 class="how-title text-center mt50">Open positions</h2>
  <p class="how-sub-title text-center">
    If you're the owner of an active brain, interesting thoughts, <br>
    and a good soul, we would like to hear from you.
  </p>

  <div class="job-list">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <a class="job-link" href="/jobs/growth-hacker">
            <div class="job-card">
              <div class="job-title">Growth Marketer</div>
              <div class="job-location">
                <i class="fas fa-map-marker-alt"></i>Remote
              </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <a class="job-link" href="/jobs/digital-graphic-designer">
            <div class="job-card">
              <div class="job-title">Digital Graphic Designer</div>
              <div class="job-location">
                <i class="fas fa-map-marker-alt"></i>Remote
              </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <a class="job-link" href="/jobs/ig-growth-manager">
            <div class="job-card">
              <div class="job-title">Instagram Growth Manager</div>
              <div class="job-location">
                <i class="fas fa-map-marker-alt"></i>Remote
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<%= render 'shared/footer' %>

<!-- https://www.typeform.com/careers/ -->
