<%= render 'shared/navbar' %>
<div id="jobs" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Jobs at Productile
    </div>
  </div>

  <h2 class="how-title text-center mt50">Open positions</h2>

  <div class="job-list">
    <div class="job-card">
      <div class="job-title">Internship</div>
      <div class="job-desc">Bangkok located</div>
    </div>
    <div class="job-card">
      <div class="job-title"></div>
      <div class="job-desc"></div>
    </div>
    <div class="job-card">
      <div class="job-title"></div>
      <div class="job-desc"></div>
    </div>
  </div>

</div>
<%= render 'shared/footer' %>
