<%= render 'shared/navbar' %>
<div id="jobs" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Jobs at Productile
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
