<%= render 'shared/navbar' %>
<div id="terms" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Terms and conditions
    </div>
  </div>

</div>
<%= render 'shared/footer' %>
