<%= render 'shared/navbar' %>

<div id="terms" class="pages">
  <div class="banner-pages">
    <div class="banner-tagline">
      Terms and conditions
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5>PROVIDED SERVICES</h5>
        <p>
          This Terms of Service Agreement (the “Agreement”) is an agreement between you (the “user”) and Productile (the “service provider”, “we” or “us”).
          <br>
          We will provide the following professional services to the user:
          During the term of this agreement, the service provider will offer to the user the management of their online branding. The Service Provider will increase the visibility and traffic of the selected social media account(s) of the user by actively promoting the account with all possible actions.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5>TERMINATION</h5>
        <p>
          Either party may terminate this agreement at the end of each monthly period, by giving written notice to the other, specifying the termination date, such notice to be given not less than seven (7) days prior to the end of every monthly period.
          <br>
          Refunds are at no means possible.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5>RIGHT OF WITHDRAWAL</h5>
        <p>
          This section applies to you if you are a EU citizen and a “consumer” as defined under the Directive 2011/83/EU of the European Parliament and of the council October 2011 on consumer rights.
          <br>
          You have the right to withdraw your contract for the Services within fourteen days from the date of placing your initial order for a Subscription (“Cancellation Period”), by using the contact form ( http://productile.co/contact/ ). If you withdraw your contract for the Services during the withdrawal period, we shall reimburse you for the period that is not exceeded. So on a monthly subscription, if you cancel the 10th day, you will get reimbursed for 2/3rd of your subscription.
          <br>
          All reimbursements shall be made to you within fourteen days and using the same means of payment you used for the initial transactions, unless you have expressly agreed otherwise.
          <br>
          Withdrawal rights under this Article only apply to your initial order for a Subscription and do not apply to Subscription renewals.
          <br>
          In agreeing to these Terms and Conditions, you expressly request that we provide you with the Services immediately and within the fourteen day statutory Withdrawal Period.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5>PROPRIETARY INFORMATION</h5>
        <p>
          The Service Provider acknowledges that the login and password are confidential and proprietary to the user; The Service Provider will do everything within its means to safeguard that information and to prevent the unauthorized use or disclosure thereof.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5>EXONERATIONS AND WARRANTIES</h5>
        <p>
          The service provider is not affiliated with any of the social media platforms in any way.
          <br>
          The Service Provider cannot be held responsible for the impact of the media campaign if there is a change in one or more social media platforms. The Service Provider cannot guarantee the continuous, uninterrupted or error-free operability of the social media platform, nor our services.
          <br>
          Service Provider warrants that its services shall be performed in a professional and workmanlike manner and that it will provide Support Services in accordance with this Agreement.
          <br>
          The Service Provider cannot guarantee that the actions to increase visibility and traffic provided on the in section 2 of this agreement selected social media platforms, does not contain any untrue, defamatory, harmful, abusive, vulgar or obscene materials, is in compliance with all applicable laws, does not infringe upon the rights of any other party, including but not limited to copyrights, trademarks, privacy rights, moral rights, trade secrets, patents and any other rights, since their service is at least partially automated. Once noticed about one of the above described actions, they will do whatever possible to undo the action. They cannot be held responsible by any damage caused by such an action.
          <br>
          The Service Provider makes no warranties that the actions to increase visibility and traffic contained on the in section 2 of this agreement selected social media platforms will be free from errors or defects or that the use of the platform will be uninterrupted. THE SERVICE PROVIDER SPECIFICALLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT ON THE RIGHTS OF THIRD PARTIES. IN NO EVENT SHALL THE ADVERTISING SERVICE PROVIDER BE LIABLE, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, FOR ANY INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOST SALES OR PROFIT, LOST DATA, BUSINESS INTERRUPTION OR ATTORNEYS’ FEES), EVEN IF NOTIFIED IN ADVANCE OF SUCH POSSIBILITY.
          <br>
          THE SERVICE PROVIDER WILL NOT BE RESPONSIBLE FOR ANY DAMAGE CAUSED BY RESTRICTION ON OR CLOSURE OF THE UNDER SECTION 2 SELECTED SOCIAL MEDIA PLATFORMS, THAT ARE NOT THE RESULT OF THE UNDER THIS SECTION, POINT A DESCRIBED ACTIONS BY THE SERVICE PROVIDER. THE USER RECOGNISES THAT HE IS AWARE THAT ACTIVELY PROMOTING A SOCIAL MEDIA ACCOUNT CAN AT A CERTAIN POINT VIOLATE THE TERMS AND CONDITIONS OF THAT SOCIAL MEDIA PLATFORM. THE SERVICE PROVIDER CAN NOT BE HOLD RESPONSIBLE FOR ANY ACTIONS TAKEN BY THE SOCIAL MEDIA PLATFORM TO STOP THE ACTIVE PROMOTION, EVEN THE CLOSURE OF THE ACCOUNT, NOR THE DAMAGE CAUSED BY THOSE ACTIONS TAKEN BY SOCIAL MEDIA PLATFORMS. It is the User’s sole responsibility to comply with the social media platform rules and any legislation subjected to.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5>FORCE MAJEURE</h5>
        <p>
          The Service Provider will not be responsible for any failure or delay in performance hereunder that is directly or indirectly related to acts of God, storm, natural disaster, act of terrorism, utility outages or interruptions, system transmission failure, server failure, strike, lockout, or any other situation which is beyond its control.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h5>DISPUTE RESOLUTION</h5>
        <p>
          In the event that any dispute arises hereunder, the parties agree that prior to commencing litigation, arbitration, or any other legal proceeding, each party shall send an officer of such party to negotiate a resolution of the dispute in good faith at a time and place as may be mutually agreed. Each officer shall have the power to bind its respective party in all material respects related to the dispute.
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
