#banner {
  background-color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 250px 150px;
  background: image-url('bg-banner-5.png') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  @media screen and (max-width: 991px) {
    padding: 150px 9%;
  }
}

.banner-tagline {
  color: $brand-blue !important;
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  line-height: 1.2;

  @media screen and (max-width: 991px) {
    font-size: 30px;
    padding-top: 15px;
  }
}

.banner-desc {
  color: $gray-price;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-top: 20px;
  line-height: 1.7;

  @media screen and (max-width: 991px) {
    font-size: 15px;
    padding-top: 15px;
  }
}


mark {
  color: $brand-blue !important;
  background: transparent;
  position: relative;
  padding: 0;
  z-index: 0;
}

mark:before {
  background-color: #72ffc0 !important;
  content: " ";
  position: absolute;
  z-index: -2;
  bottom: 0px;
  height: 20px;
  left: 6px;
  right: -6px;
}

