#contact {
  background-color: $brand-blue;
  height: 40vh;
  padding: 80px;
  background: image-url('productile-pattern.svg') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  @media screen and (max-width: 411px) {
    padding: 65px;
  }
}

.contact-tagline {
  color: white;
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  font-size: 35px;
}
