#pricing {
  background-color: white;
  min-height: 90vh;
  padding: 150px 0 120px;
}

.feature-list {
  ul {
    list-style: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05rem;
    font-size: 16px;
    font-weight: 300;
    padding-left: 0;
    padding-top: 20px;

    li {
      padding-top: 20px;
    }
  }
}

.circle-checked {
  color: $brand-blue;
  float: left;
  margin-top: 2px;
  margin-left: 18%;
  margin-right: 20px;
}

.circle-unchecked {
  color: $gray-circle;
  float: left;
  margin-top: 2px;
  margin-left: 18%;
  margin-right: 20px;
}
