#purpose {
  min-height: 60vh;
  background-color: $gray;
  padding-top: 150px;
  padding-bottom: 120px;
  margin-top: -50px;

  @media screen and (max-width: 991px) {
    padding-top: 100px;
  }
}

#discover {
  margin-top: -50px;
  padding: 100px 0;
}

.feature-content {
  @media screen and (max-width: 991px) {
    margin-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
  }
}

.feature-icon {
  width: 60px;
  margin-bottom: 15px;
  height: 60px;
}

.feature-title {
  color: $brand-blue;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans";
  margin-top: 0;
  // text-decoration: underline;
}

.feature-desc {
  color: $gray-price;
  font-family: "Avenir", sans-serif;
  padding-top: 5px;
}

