.pricing-card {
  box-shadow: 0 0 30px 6px rgba(31, 51, 73 , .1);
  height: 500px;
  max-width: 300px;
  border-radius: 9px;
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;


  .pricing-card-header {
    background-color: $brand-blue;
    height: 70px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    letter-spacing: 0.2rem;
    font-family: "Josefin sans";
  }

  .pricing-card-content {
  }

  .pricing-card-footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid-one {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  grid-template-rows: 240px 100px 240px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-areas:
    "item-a item-b item-d item-d"
    "item-a item-b item-e item-f"
    "item-c item-c item-e item-f";
}

.item-a {
  grid-area: item-a;
  background-color: $brand-blue;
  // background: image-url('bg-yellow-1.jpg') no-repeat center;
  background: image-url('duotone-a.png') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .start-now {
    color: RGBA(69, 105, 247, 1.00);
    box-shadow: 0 0 15px 4px RGBA(69, 105, 247, 1.00);
  }
}

.item-b {
  grid-area: item-b;
  background-color: $brand-blue;
  // background: image-url('bg-red-1.jpg') no-repeat center;
  background: image-url('duotone-b.png') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .start-now {
    color: RGBA(69, 105, 247, 1.00);
    box-shadow: 0 0 15px 4px RGBA(69, 105, 247, 1.00);
  }
}

.item-c {
  grid-area: item-c;
  background-color: $brand-blue;
  // background: image-url('bg-purple-1.jpg') no-repeat center;
  background: image-url('duotone-c.png') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .start-now {
    color: RGBA(69, 105, 247, 1.00);
    box-shadow: 0 0 15px 4px RGBA(69, 105, 247, 1.00);
  }
}

.item-d {
  grid-area: item-d;
  background-color: $brand-blue;
  // background: image-url('bg-blue-1.jpg') no-repeat center;
  background: image-url('duotone-d.png') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .start-now {
    color: RGBA(69, 105, 247, 1.00);
    box-shadow: 0 0 15px 4px RGBA(69, 105, 247, 1.00);
  }

}

.item-e {
  grid-area: item-e;
  background-color: $brand-blue;
  // background: image-url('bg-pink-2.jpg') no-repeat center;
  background: image-url('duotone-e.png') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .start-now {
    color: RGBA(69, 105, 247, 1.00);
    box-shadow: 0 0 15px 4px RGBA(69, 105, 247, 1.00);
  }
}

.item-f {
  grid-area: item-f;
  background-color: $brand-blue;
  // background: image-url('bg-grey-1.jpg') no-repeat center;
  background: image-url('duotone-f.png') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .start-now {
    color: RGBA(69, 105, 247, 1.00);
    box-shadow: 0 0 15px 4px RGBA(69, 105, 247, 1.00);
  }
}


.pictures-card {
  display: inline-block;
  color: white;
  border-radius: 10px;
  box-shadow: 0 6px 25px 5px rgba(31, 51, 73 , .2);
  position: relative;
  padding: 40px 20px;

  h3 {
    position: absolute;
    margin: 0;
    top: 60px;
    left: 20px;
    font-weight: 600;
    letter-spacing: 0.07rem;
  }

  h4 {
    position: absolute;
    text-transform: uppercase;
    margin: 0;
    top: 30px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, .9);
  }

  .start-now {
    position: absolute;
    left: 20px;
    bottom: 30px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }
}

