.contact-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 35%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  padding-left: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px 15px;
  border: solid 1px rgba(100, 100, 100, .4);
  font-family: "Avenir";
  font-size: 15px;
}
