@import "bootstrap-sprockets";
@import "bootstrap";

// Config
@import "config/utilities";
@import "config/variables";

// Components
@import "components/buttons";
@import "components/navbar";
@import "components/cards";
@import "components/footer";

// Sections
@import "sections/banner";
@import "sections/introduction";
@import "sections/pictures_grid";
@import "sections/purpose";
@import "sections/pricing";
@import "sections/how";
@import "sections/contact";

// Pages
@import "pages/pages";
@import "pages/faq";
@import "pages/blog";

// Plans
@import "plans/starter";
@import "plans/professional";
@import "plans/unlimited";

body {
  font-family: "Open Sans", sans-serif;
}

hr {
  border: $gray solid 1px;
  opacity: 0.1;
}
