<%= render 'shared/navbar' %>
<%= render 'banners/banner_plans' %>

<div id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="pricing-card">
          <div class="pricing-card-header">
            STARTER
          </div>
          <div class="pricing-card-content">
            <div class="price">
              <span class="dollar-sign">$</span> 159
            </div>
            <div class="feature-list">
              <ul>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Posts - <strong>3 / week</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Stories - <strong>2 / week</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  Providing Hashtags
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  Captions suggestion
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  We post for you
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  Instagram Growth
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-card-footer">
            <a href="/plan/starter" class="pricing-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="pricing-card">
          <div class="pricing-card-header">
            PROFESSIONAL
          </div>
          <div class="pricing-card-content">
            <div class="price">
              <span class="dollar-sign">$</span> 299
            </div>
            <div class="feature-list">
              <ul>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Posts - <strong>5 / week</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Stories - <strong>3 / week</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Providing Hashtags
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  Captions suggestion
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  We post for you
                </li>
                <li>
                  <i class="fas fa-check-circle circle-unchecked"></i>
                  Instagram Growth
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-card-footer">
            <a href="/plan/professional" class="pricing-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="pricing-card">
          <div class="pricing-card-header">
            UNLIMITED
          </div>
          <div class="pricing-card-content">
            <div class="price">
              <span class="dollar-sign">$</span> 499
            </div>
            <div class="feature-list">
              <ul>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Posts - <strong>UNLIMITED</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Stories - <strong>UNLIMITED</strong>
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Providing Hashtags
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Captions suggestion
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  We post for you
                </li>
                <li>
                  <i class="fas fa-check-circle circle-checked"></i>
                  Instagram Growth
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-card-footer">
            <a href="/plan/unlimited" class="pricing-btn">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
