<%= render 'shared/navbar' %>

<div id="professional">
  <%= render 'banners/banner_professional_plan' %>

  <script type="text/javascript" id='pw_5bd1b43950e07' src="https://app.paywhirl.com/pw.js"></script>
  <script>paywhirl('widget',{autoscroll: 1, domain:'productile-76d3' ,uuid:'410af81f-5a86-40ab-8854-fac3a5bf486f'},'pw_5bd1b43950e07'); </script>
</div>

<%= render 'shared/footer' %>

<script type="text/javascript">
  $(document).ready(function(){

    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
      // Set the URL to whatever it was plus "#".
      url = document.URL+"#";
      location = "#";

      //Reload the page
      location.reload(true);
    }
  });
</script>
