<%= render 'shared/navbar' %>

<div id="starter">
  <%= render 'banners/banner_starter_plan' %>

  <script type="text/javascript" id='pw_5bd1b2670050b' src="https://app.paywhirl.com/pw.js"></script>
  <script>paywhirl('widget',{autoscroll: 1, domain:'productile-76d3' ,uuid:'e159a5a9-a9dd-4d09-b9e3-0d2740a002c4'},'pw_5bd1b2670050b'); </script>
</div>

<%= render 'shared/footer' %>

<script type="text/javascript">
  $(document).ready(function(){

    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
      // Set the URL to whatever it was plus "#".
      url = document.URL+"#";
      location = "#";

      //Reload the page
      location.reload(true);
    }
  });
</script>
