<%= render 'shared/navbar' %>

<div id="unlimited">
  <%= render 'banners/banner_unlimited_plan' %>
  <script type="text/javascript" id='pw_5bd1b34277039' src="https://app.paywhirl.com/pw.js"></script>
  <script>paywhirl('widget',{autoscroll: 1, domain:'productile-76d3' ,uuid:'a453b3ab-3c76-43fe-9808-6df58ba8ee80'},'pw_5bd1b34277039'); </script>
</div>

<%= render 'shared/footer' %>

<script type="text/javascript">
  $(document).ready(function(){

    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
      // Set the URL to whatever it was plus "#".
      url = document.URL+"#";
      location = "#";

      //Reload the page
      location.reload(true);
    }
  });
</script>
